NodeRed-Flow.txt
[{"id":"10f5c3a1.ef0a3c","type":"mqtt-broker","z":"4801d7eb.b7fe28","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b9ad7918.465288","type":"mongodb","z":"4801d7eb.b7fe28","hostname":"127.0.0.1","port":"27017","db":"test","name":"Mongo Test"},{"id":"d0fcfed8.2f03","type":"mongodb in","z":"4801d7eb.b7fe28","mongodb":"b9ad7918.465288","name":"All Observations","collection":"observations","operation":"find","x":327.8334426879883,"y":362.16667652130127,"wires":[["d73b1faa.28c4e"]]},{"id":"4fd4ba9a.b02b44","type":"mongodb out","z":"4801d7eb.b7fe28","mongodb":"b9ad7918.465288","name":"Mongo test/observations","collection":"observations","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":758.3335037231445,"y":93.00000476837158,"wires":[]},{"id":"bb8d245.f4472d8","type":"mqtt in","z":"4801d7eb.b7fe28","name":"MQTT Observations","topic":"/observations/+","broker":"10f5c3a1.ef0a3c","x":133.33336639404297,"y":70.50000095367432,"wires":[["602ba9bb.9fd458"]]},{"id":"5b124464.a4edbc","type":"debug","z":"4801d7eb.b7fe28","name":"","active":true,"console":"false","complete":"payload","x":722.6667556762695,"y":37.16666126251221,"wires":[]},{"id":"602ba9bb.9fd458","type":"json","z":"4801d7eb.b7fe28","name":"From JSON","x":324.16675567626953,"y":95.1666612625122,"wires":[["33f5d74c.aacf1"]]},{"id":"d5577111.2aa89","type":"tcp out","z":"4801d7eb.b7fe28","host":"","port":"1111","beserver":"server","base64":false,"end":false,"name":"TcpPush","x":865.5000686645508,"y":150.1666612625122,"wires":[]},{"id":"808c2428.7f73d8","type":"json","z":"4801d7eb.b7fe28","name":"To JSON","x":710.5000762939453,"y":149.1666612625122,"wires":[["d5577111.2aa89","198aafa8.e6755"]]},{"id":"198aafa8.e6755","type":"file","z":"4801d7eb.b7fe28","name":"Text File","filename":"c:\\data\\test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":865.1667366027832,"y":208.83332920074463,"wires":[]},{"id":"bfbcdefd.40432","type":"http in","z":"4801d7eb.b7fe28","name":"","url":"/observations","method":"get","swaggerDoc":"","x":126.20008850097656,"y":362.20001220703125,"wires":[["d0fcfed8.2f03"]]},{"id":"d73b1faa.28c4e","type":"http response","z":"4801d7eb.b7fe28","name":"","x":499.2001419067383,"y":362.20000171661377,"wires":[]},{"id":"d2191a84.2de6e8","type":"http in","z":"4801d7eb.b7fe28","name":"","url":"/observations","method":"post","swaggerDoc":"","x":131.20001983642578,"y":171.20000171661377,"wires":[["602ba9bb.9fd458","4518abc3.bae754"]]},{"id":"bca5215e.435ae","type":"http response","z":"4801d7eb.b7fe28","name":"Response","x":523.2000503540039,"y":199.20000171661377,"wires":[]},{"id":"4518abc3.bae754","type":"function","z":"4801d7eb.b7fe28","name":"Clear the Payload","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":346.2000961303711,"y":199.20000171661377,"wires":[["bca5215e.435ae"]]},{"id":"a047254.0a39a58","type":"mqtt out","z":"4801d7eb.b7fe28","name":"MQTT Time Response","topic":"","qos":"","retain":"","broker":"10f5c3a1.ef0a3c","x":779.200080871582,"y":278.20000171661377,"wires":[]},{"id":"b6c5fb66.4dee6","type":"function","z":"4801d7eb.b7fe28","name":"Get Local ISO Time","func":"    var now = new Date(),\n        tzo = -now.getTimezoneOffset(),\n        dif = tzo >= 0 ? '+' : '-',\n        pad = function(num) {\n            var norm = Math.abs(Math.floor(num));\n            return (norm < 10 ? '0' : '') + norm;\n        };\n    msg.payload = now.getFullYear() \n        + '-' + pad(now.getMonth()+1)\n        + '-' + pad(now.getDate())\n        + 'T' + pad(now.getHours())\n        + ':' + pad(now.getMinutes()) \n        + ':' + pad(now.getSeconds()) \n        + dif + pad(tzo / 60) \n        + ':' + pad(tzo % 60);\nreturn msg;\n","outputs":1,"noerr":0,"x":346.2000198364258,"y":278.20000171661377,"wires":[["991b9af6.bf4fd"]]},{"id":"f4c05c3f.1e5288","type":"mqtt in","z":"4801d7eb.b7fe28","name":"MQTT Time Request","topic":"/time/request/#","broker":"10f5c3a1.ef0a3c","x":134.20000457763672,"y":278.20000171661377,"wires":[["b6c5fb66.4dee6"]]},{"id":"991b9af6.bf4fd","type":"function","z":"4801d7eb.b7fe28","name":"Response Channel","func":"msg.topic = msg.topic.replace(\"/request/\", \"/response/\");\nreturn msg;","outputs":1,"noerr":0,"x":557.2000198364258,"y":278.20000171661377,"wires":[["a047254.0a39a58"]]},{"id":"33f5d74c.aacf1","type":"function","z":"4801d7eb.b7fe28","name":"Set Id / Received","func":"var index = msg.topic.lastIndexOf(\"/\");\nvar id = msg.topic.substring(index + 1, msg.topic.length);\nmsg.payload.DeviceId = id;\nmsg.payload.Received = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":508.2000198364258,"y":95.1999864578247,"wires":[["5b124464.a4edbc","808c2428.7f73d8","4fd4ba9a.b02b44"]]}]