NodeRed-Flow.txt
[{"id":"10f5c3a1.ef0a3c","type":"mqtt-broker","z":"4801d7eb.b7fe28","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b9ad7918.465288","type":"mongodb","z":"4801d7eb.b7fe28","hostname":"127.0.0.1","port":"27017","db":"test","name":"Mongo Test"},{"id":"d0fcfed8.2f03","type":"mongodb in","z":"4801d7eb.b7fe28","mongodb":"b9ad7918.465288","name":"All Observations","collection":"observations","operation":"find","x":325.8334503173828,"y":418.1666717529297,"wires":[["d73b1faa.28c4e"]]},{"id":"4fd4ba9a.b02b44","type":"mongodb out","z":"4801d7eb.b7fe28","mongodb":"b9ad7918.465288","name":"Mongo Test/observations","collection":"observations","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":754.3335113525391,"y":92,"wires":[]},{"id":"bb8d245.f4472d8","type":"mqtt in","z":"4801d7eb.b7fe28","name":"MQTT Observations","topic":"/observations/+","broker":"10f5c3a1.ef0a3c","x":129.3333740234375,"y":48.5,"wires":[["602ba9bb.9fd458"]]},{"id":"5b124464.a4edbc","type":"debug","z":"4801d7eb.b7fe28","name":"Dbg output","active":true,"console":"false","complete":"payload","x":718.6667633056641,"y":36.166656494140625,"wires":[]},{"id":"602ba9bb.9fd458","type":"json","z":"4801d7eb.b7fe28","name":"From JSON","x":320.16676330566406,"y":94.16665649414062,"wires":[["33f5d74c.aacf1"]]},{"id":"d5577111.2aa89","type":"tcp out","z":"4801d7eb.b7fe28","host":"","port":"1111","beserver":"server","base64":false,"end":false,"name":"TcpPush","x":861.5000762939453,"y":149.16665649414062,"wires":[]},{"id":"808c2428.7f73d8","type":"json","z":"4801d7eb.b7fe28","name":"To JSON","x":706.5000839233398,"y":148.16665649414062,"wires":[["d5577111.2aa89","198aafa8.e6755"]]},{"id":"198aafa8.e6755","type":"file","z":"4801d7eb.b7fe28","name":"Text File","filename":"c:\\data\\test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":861.1667442321777,"y":207.83332443237305,"wires":[]},{"id":"bfbcdefd.40432","type":"http in","z":"4801d7eb.b7fe28","name":"","url":"/observations","method":"get","swaggerDoc":"","x":124.2000961303711,"y":418.20000743865967,"wires":[["d0fcfed8.2f03"]]},{"id":"d73b1faa.28c4e","type":"http response","z":"4801d7eb.b7fe28","name":"HTTP Observations Response","x":559.2001419067383,"y":418.20000743865967,"wires":[]},{"id":"d2191a84.2de6e8","type":"http in","z":"4801d7eb.b7fe28","name":"","url":"/observations","method":"post","swaggerDoc":"","x":127.20002746582031,"y":170.1999969482422,"wires":[["602ba9bb.9fd458","4518abc3.bae754"]]},{"id":"bca5215e.435ae","type":"http response","z":"4801d7eb.b7fe28","name":"Response","x":519.2000579833984,"y":198.1999969482422,"wires":[]},{"id":"4518abc3.bae754","type":"function","z":"4801d7eb.b7fe28","name":"Clear the Payload","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":342.2001037597656,"y":198.1999969482422,"wires":[["bca5215e.435ae"]]},{"id":"a047254.0a39a58","type":"mqtt out","z":"4801d7eb.b7fe28","name":"MQTT Time Response","topic":"","qos":"","retain":"","broker":"10f5c3a1.ef0a3c","x":776.200080871582,"y":277.20000743865967,"wires":[]},{"id":"b6c5fb66.4dee6","type":"function","z":"4801d7eb.b7fe28","name":"Get Local ISO Time","func":"    var now = new Date(),\n        tzo = -now.getTimezoneOffset(),\n        dif = tzo >= 0 ? '+' : '-',\n        pad = function(num) {\n            var norm = Math.abs(Math.floor(num));\n            return (norm < 10 ? '0' : '') + norm;\n        };\n    msg.payload = now.getFullYear() \n        + '-' + pad(now.getMonth()+1)\n        + '-' + pad(now.getDate())\n        + 'T' + pad(now.getHours())\n        + ':' + pad(now.getMinutes()) \n        + ':' + pad(now.getSeconds()) \n        + dif + pad(tzo / 60) \n        + ':' + pad(tzo % 60);\nreturn msg;\n","outputs":1,"noerr":0,"x":343.2000198364258,"y":277.20000743865967,"wires":[["991b9af6.bf4fd"]]},{"id":"f4c05c3f.1e5288","type":"mqtt in","z":"4801d7eb.b7fe28","name":"MQTT Time Request","topic":"/time/request/#","broker":"10f5c3a1.ef0a3c","x":131.20000457763672,"y":277.20000743865967,"wires":[["b6c5fb66.4dee6"]]},{"id":"991b9af6.bf4fd","type":"function","z":"4801d7eb.b7fe28","name":"Response Channel","func":"msg.topic = msg.topic.replace(\"/request/\", \"/response/\");\nreturn msg;","outputs":1,"noerr":0,"x":554.2000198364258,"y":277.20000743865967,"wires":[["a047254.0a39a58"]]},{"id":"33f5d74c.aacf1","type":"function","z":"4801d7eb.b7fe28","name":"Set Id / Received","func":"var index = msg.topic.lastIndexOf(\"/\");\nvar id = msg.topic.substring(index + 1, msg.topic.length);\nmsg.payload.Id = id;\nmsg.payload.RcvTime = new Date();\nreturn msg;\n","outputs":1,"noerr":0,"x":504.2000274658203,"y":94.19998168945312,"wires":[["808c2428.7f73d8","4fd4ba9a.b02b44","5b124464.a4edbc"]]},{"id":"31770a0.23417f6","type":"file in","z":"4801d7eb.b7fe28","name":"Read Alarms","filename":"c:\\data\\alarms.json","format":"utf8","x":328.81107330322266,"y":346.92226696014404,"wires":[["b65dd9f2.190dc"]]},{"id":"5a16931f.eea224","type":"mqtt in","z":"4801d7eb.b7fe28","name":"MQTT Alarm Request","topic":"/alarm/request/#","broker":"10f5c3a1.ef0a3c","x":135.45000457763672,"y":346.4500379562378,"wires":[["31770a0.23417f6"]]},{"id":"1ec55978.3927af","type":"mqtt out","z":"4801d7eb.b7fe28","name":"MQTT Alarm Response","topic":"","qos":"","retain":"","broker":"10f5c3a1.ef0a3c","x":736.7000198364258,"y":346.4500684738159,"wires":[]},{"id":"b65dd9f2.190dc","type":"function","z":"4801d7eb.b7fe28","name":"Line Responses","func":"var topic = msg.topic.replace(\"/request/\", \"/response/\");\nvar lines = msg.payload.match(/[^\\r\\n]+/g);\nvar messages = [];\n\nfor(var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    if(line.length > 0) {\n        var newMsg = {};\n        newMsg.topic = topic;\n        newMsg.payload = line;\n        messages.push(newMsg);\n    }\n}\n\nreturn [ messages ];\n","outputs":1,"noerr":0,"x":515.6999893188477,"y":346.4500379562378,"wires":[["1ec55978.3927af"]]},{"id":"a279e004.5d862","type":"mqtt in","z":"4801d7eb.b7fe28","name":"MQTT Metadata","topic":"/metadata/#","broker":"10f5c3a1.ef0a3c","x":118.20002746582031,"y":109.20004272460938,"wires":[["602ba9bb.9fd458"]]}]